.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 32px;
  font-weight: bold;
  margin: 1rem;

}

.profile {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}

